.margin-top-m {
  margin-top: 10px;
}
.margin-left-s {
  margin-left: 5px;
}
.padding-s {
  padding: 5px;
}
.padding-left-m {
  padding-left: 10px;
}
.pointer {
  cursor: pointer;
}
/*
 * Vuesax: Fix to adjust Icon Buttons
 */
.vs-icon.vs-button--icon {
  margin-top: -3px;
}
/*
 * Vuesax: Adjusting onHover Design for tables.
 */
.vs-table--tbody-table .tr-values:not(.activeEdit):not(.tr-expandedx):not(.hoverFlat):hover {
  background-color: #ddd !important;
  -webkit-transform: none !important;
          transform: none !important;
}
